
body {
   font-family: 'Open Sans', sans-serif;
}

#wrapper {
    display: block;
    max-width: 940px;
    margin: 0 auto;
    padding: 0.5%
}

a {
    text-decoration: none
}

img {
    max-height: 200%;
}

#Logo {
    text-align: center;
    margin: 0;
}

h1 {
    font-family: 'Aldrich', sans-serif;
    margin: 15px 0;
    font-size: 1.75em;
}
h2 {
    font-family: 'Indie Flower', cursive;
    font-size: 0.75;
    margin: -5px 0 0;
    font-weight: normal;
}


nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav ul {
    list-style: none;
    padding: 10px 0;
    margin: 0 10px;
}

nav li {
    display: inline-block;
}

nav a{
    font-weight: 800;
    padding: 15px 10px;
        
}

footer {
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    color: #ccc;  
    clear: both;
}

.social-media-icon {
    width: 40x;
    height: 35px;
    margin: 0 5px;
}

#gallery { 
    margin: 0 5px;
    padding: 40px;
    list-style: none;      
}

#gallery li {
    display: block;
    float: left;
    width: 45%;
    margin: 1.5%;
    background-color:  lightgray;
    color: aquamarine;
}

#gallery li a p {
    display: block;
    margin: 1.5%;
    padding: 5%;
    font-size: 0.75em;
    color: black;
}


.Deadpool-photo {
    border-radius: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img.smack-in-the-middle {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Arnold {
    border-radius: 10%
}

.Profile-photo {
    display: block;
    max-width: 0 auto 30px;
    border-radius: 20%;
}

body {
    background-color: white;
    color: #999;
}

header {
   background: #6ab47b
}

h1, h2 {
    color: #fff;
}

nav {
    background: #599a68
}
nav a, nav a:visited {
    color: greenyellow;
}

.social-media-icon  {
    margin:  auto;
}



